#ENVIRONMENT
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

#DEPENDENCIES
backend/vendor
backend/composer.lock
frontend/node_modules
frontend/package-lock.json

# LOGS
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

#PRODUCTION
frontend/dist
frontend/dist-ssr


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?